.contact-page .content-title h1 {
    text-align: center;
}

.contact-page article {
    display: flex;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
}

.contact-page .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.contact-page .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.contact-page .content-column p {
    font-size: 30px;
    text-align: left;
}

.contact-page .email {
    text-align: center;
    font-size: 20px;
    padding: 50px;
}

.contact-page .image-content {
    background: url('../images/contact.jpg');
    padding: 30vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}