.home-page .content-title h1 {
    text-align: center;
}

.home-page .imageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.home-page .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
}

.home-page .image-content1,
.home-page .image-content2,
.home-page .image-content3 {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 400px;
}

.home-page .image-content1 {
    background: url('../images/shirt1.jpg');
}

.home-page .image-content2 {
    background: url('../images/shirt2.jpg');
}

.home-page .image-content3 {
    background: url('../images/shirt3.jpg');
}

.home-page #link1,
.home-page #link2,
.home-page #link3 {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 35px;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}